<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/alumnos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{alumno.nombre}} {{alumno.apellidos}}</ion-title>
    <ion-buttons slot= "end">
      <ion-buttons (click)="deleteAlumno()">
        <ion-icon name = "trash"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class = "ion-no-padding">
    <ion-row>
      <ion-col class = "ion-no-padding">
        <ion-img src="https://ta.azureedge.net/p/images/usuarios/l/zNRQERZt1Ej91ZawWw_aTZzsm9JU0UTx0.jpg/600x600cut/"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class ="ion-text-center">Datos de {{alumno.nombre}} {{alumno.apellidos}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>Nombre: {{alumno.nombre}}</ion-item>
          <ion-item>Apellidos: {{alumno.apellidos}}</ion-item>
          <ion-item>Correo: {{alumno.correo}}</ion-item>
          <ion-item>Grado: {{alumno.grado}}</ion-item>
          <ion-item>Edad: {{alumno.edad}}</ion-item>
          <ion-item>Telefono: {{alumno.telefono}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="primary" (click) = "AbrirModificar()">Modificar Datos</ion-button>
      <ion-button color="primary" (click) = "AbrirChat()">Iniciar Chat</ion-button>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class ="ion-text-center">Notas de {{alumno.nombre}} {{alumno.apellidos}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="alumno.courses && alumno.courses.length > 0; else noAsignaturas">
          <ion-item *ngFor="let asignatura of alumno.courses">
            {{asignatura.nombre}} Nota: {{asignatura.nota}}
            <ion-button slot = "end" (click)="eliminarAsignatura(asignatura)">
              Eliminar
            </ion-button>
          </ion-item>
        </ion-list>
        <ng-template #noAsignaturas>
          <ion-text>
            <p class ="ion-text-center">No está haciendo ninguna asignatura actualmente</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label>
              Selecciona una asignatura para añadir
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Asignaturas</ion-label>
            <ion-select #asignatura>
              <ion-select-option *ngFor="let asignatura of cursossincursar" value={{asignatura._id}}>{{asignatura.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="primary" (click) = "addasignatura(asignatura)">
        Añadir Asignatura
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
