<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/alumnos"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Nuevo Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          Nombre: <ion-input type="text" placeholder="Escribre el nombre" #nombre></ion-input>
          Apellidos: <ion-input type="text" placeholder="Escribe los DOS apellidos" #apellidos></ion-input>
          Correo: <ion-input type="email" placeholder="Escribre el correo" #correo></ion-input>
          Grado: <ion-input type="text" placeholder="Escribre el grado que está cursando" #grado></ion-input>
          Edad: <ion-input type="number" placeholder="Escribe la edad" #edad></ion-input>
          Teléfono: <ion-input type="number" placeholder="Escribre el teléfono" #telefono></ion-input>
          Foto de Perfil (URL): <ion-input type="text" placeholder="Escribre la URL de la foto" #foto></ion-input>
          <ion-button color="primary" (click) = "guardaralumno(nombre, apellidos, correo, grado, edad, telefono, foto)">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
