<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/alumnos"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Nueva Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          Nombre: <ion-input type="text" placeholder="Escribre el nombre" #nombre></ion-input>
          Créditos: <ion-input type="number" placeholder="Escribe el número de créditos de la asignatura" #creditos></ion-input>
          <ion-button color="primary" (click) = "registrarasignatura(nombre, creditos)">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
