<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Lista de Alumnos de Antonia</ion-title>
    <ion-buttons slot= "end">
      <ion-buttons (click) = "ionViewWillEnter()">
        <ion-icon name = "reload-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf = "alumnos && alumnos.length > 0; else noAlumnos">
    <ion-item *ngFor="let alumno of alumnos" [routerLink]="['/alumnos', alumno._id]">
      <ion-avatar slot="start">
        <ion-img src="https://ta.azureedge.net/p/images/usuarios/l/zNRQERZt1Ej91ZawWw_aTZzsm9JU0UTx0.jpg/600x600cut/"></ion-img>
      </ion-avatar>
      <ion-label>
        {{alumno.nombre}} {{alumno.apellidos}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noAlumnos>
    <ion-text>
      <p class ="ion-text-center">Actualmente no eres tutora de ningún alumno.</p>
    </ion-text>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="registraralumno()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
