<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Lista de Alumnos de Antonia</ion-title>
    <ion-buttons slot= "end">
      <ion-buttons (click) = "ionViewWillEnter()">
        <ion-icon name = "reload-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf = "alumnos && alumnos.length > 0; else noAlumnos">
    <ion-item *ngFor="let alumno of alumnos" [routerLink]="['/alumnos', alumno._id]">
      <ion-avatar slot="start">
        <ion-img [src]="alumno.URL"></ion-img>
      </ion-avatar>
      <ion-label>
        {{alumno.nombre}} {{alumno.apellidos}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noAlumnos>
    <ion-text>
      <p class ="ion-text-center">Actualmente no eres tutora de ningún alumno.</p>
    </ion-text>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click) = "registraralumno()">
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click) = "registrarasignatura()">
        <ion-icon name="library-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>  
</ion-content>
